* {
  font-family: 'Satoshi-Variable';
}

html {
  /*font-smooth: never !important;*/
  -webkit-font-smoothing: inherit !important;
}

.btn-standart {
  background-color: #3AB6AB !important;
  box-shadow: 0px 6px 12px -6px rgba(58, 182, 171, 0.08), 0px 8px 24px -4px rgba(58, 182, 171, 0.08) !important;
  border-radius: 8px !important;
  color: #F3FBFB !important;
  font-weight: 700 !important;
  padding: 24px 32px !important;
  text-decoration: none !important;
  margin: 0 !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
}

.btn-standart-red {
  background-color: #D31D24 !important;
  box-shadow: 0px 6px 12px -6px rgba(58, 182, 171, 0.08), 0px 8px 24px -4px rgba(58, 182, 171, 0.08) !important;
  border-radius: 8px !important;
  color: #F3FBFB !important;
  font-weight: 700 !important;
  padding: 24px 32px !important;
  text-decoration: none !important;
  margin: 0 !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
}

a.btn-standart {
  background-color: #3AB6AB !important;
  box-shadow: 0px 6px 12px -6px rgba(58, 182, 171, 0.08), 0px 8px 24px -4px rgba(58, 182, 171, 0.08) !important;
  border-radius: 8px !important;
  color: #F3FBFB !important;
  font-weight: 700 !important;
  padding: 16px 32px !important;
  text-decoration: none !important;
  margin: 0 !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
}

a.btn-standart-red {
  background-color: #D31D24 !important;
  box-shadow: 0px 6px 12px -6px rgba(58, 182, 171, 0.08), 0px 8px 24px -4px rgba(58, 182, 171, 0.08) !important;
  border-radius: 8px !important;
  color: #F3FBFB !important;
  font-weight: 700 !important;
  padding: 16px 32px !important;
  text-decoration: none !important;
  margin: 0 !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
}

.green-text {
  color: #58CAC0 !important;
}

.red-text {
  color: #D31D24 !important;
}

.desktop-only {
  display: block !important;
}

.mobile-only {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: block !important;
  }

  .btn-standart {
    width: 100% !important;
    /*margin: 0 auto !important;*/
  }

  .btn-standart-red {
    width: 90% !important;
    margin: 0 auto !important;
  }

  a.btn-standart {
    width: 90% !important;
    display: block !important;
    text-align: center !important;
    margin: 0 auto !important;
  }

  a.btn-standart-red  {
    width: 90% !important;
    display: block !important;
    text-align: center !important;
    margin: 0 auto !important;
  }
}
